.game-board {
  display: flex;
  flex-wrap: wrap;
   width: 670px;
   /* height: 520px; */
   margin: auto;
   margin-top: 5rem;
  /* border: 1px solid black; */
}

.tile {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  height: 60px;
  text-align: center;
}